{% extends 'blog/base.html' %}

{% block content %}
<div class="col-md-6 shadow p-3">
    <h3 class="text-center">Sign Up Form</h3>
    <form class=' ' action="" method="post">
        {% csrf_token %}        
            {% for fm in form %}
            <div class="mb-3">
            {{fm.label_tag}} {{fm}} <small class='text-warning'>{{fm.errors|striptags}}</small>
        </div>
            {% endfor %}
        

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class='alert alert-warning'>{{error}}</p>
        {% endfor %}
        {% endif %}

        <input class="btn btn-success " type="submit" value="Sign Up">
    </form>
</div>
{% endblock content %}