{% extends 'blog/base.html' %}

{% block content %}
<div class="col-md-12">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi non veritatis cum aliquid perspiciatis corrupti neque error nisi laborum soluta, natus ratione enim est nostrum provident incidunt animi quibusdam quia dolores vitae a. Sequi fugit, unde laudantium, explicabo, repudiandae iure ducimus quidem maxime earum beatae in. Id, eaque, minima fugit laboriosam sunt officia quas numquam a voluptates esse ut impedit quia, magni ab quasi facere dolorum earum nostrum hic amet aut consequatur ipsa qui? Saepe autem quaerat at itaque necessitatibus? Commodi corporis harum, repellat in quo provident doloribus illo iste expedita iure non maiores officia eos, soluta odio! Tempora, distinctio!</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem eaque nisi quisquam. Itaque recusandae, pariatur aspernatur perspiciatis, facere, nobis molestiae ad quidem quos laboriosam fugiat. Error numquam, eaque velit, sapiente culpa eius ullam iste consequuntur ducimus alias quod natus quam? Earum nulla vero molestiae voluptatibus! Facilis optio excepturi aspernatur?
    </p>
</div>
{% endblock content %}